@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
  box-sizing: border-box;
}

#btn-docs {
  cursor: pointer;
  border: none;
  font-size: 14px;
  text-decoration: underline;
  font-family: Roboto;
  font-weight: 500;
  color: #0288d1;
  background-color: #fff;
  margin: 0 5px 0 0;
  padding: 8px 12px;
  border-radius: 32px;
}

#btn-docs:hover {
  background-color: rgba(0, 0, 0, .07);
  transition: background-color .2s ease-out;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

#btn-trial {
  border: none;
  outline: none;
  padding: 6px 28px;
  font-family: Roboto;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  background: #0288d1;
  color: #fff;
  border-radius: 32px;
  text-decoration: none;
  margin: 0 10px 0 5px;
}

#btn-trial:hover {
  background-color: rgba(2, 136, 209, .8);
  transition: background-color .2s ease-out;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  transition-delay: 0s;
}

.css-p1dfi6 {
  outline: none;
  justify-content: flex-end !important;
  align-items: center !important;
}

.css-pvky73, .css-11sh1n2, .css-c3junj {
  display: none !important;
}
